.app{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.nav-buttons i:hover{
    font-size: 2rem;
    transition: .5s ease all;  
}
.nav-links {
    margin-right: 1rem;
    button{
        width: 5rem;
    }
    .nav-link{
        width: 5rem;
        text-align: center;

    }
    .nav-link:hover{
        transform: translateY(-8px);
        transition: .5s ease all;
    }

    i:hover{
        font-size: 2rem;
        transition: .5s ease all;
    }
}

@media screen and (max-width: 768px) {
    .logo--title{
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .menu--button{
            display: block;
        }
    }
}

@media screen and (min-width: 768px) {
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        .menu{
            display: flex;
            flex-direction: row;
        }
        .menu--button{
            display: none;
        }
    }
}